.content_box{
    width: 100%;
    height: 100%;
    position: relative;
    // background: linear-gradient(-55deg, #A2A2AB, #C7C8D3);
    .share_icon{
        width: 0.6rem;
        height: 0.6rem;
        position: absolute;
        top:0.26rem;
        right:0.26rem;
    }
    .music-icon{
        position: absolute;
        top:1.1rem;
        right:0.26rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 0.6rem;
        height: 0.6rem;
        background-color: #ffffff;
        border-radius: 50%;
        &.active{
            animation: musicRotate 6s linear infinite;
        }
        svg{
            width: 0.4rem;
        }
    }
    .top_box{
        width: 100%;
        height: 2.1rem;
        position: relative;
    }
    .top_bg{
        width: 100%;
        height: 100%;
    }
    .top_title{
        width: 5.83rem;
        position: absolute;
        top:0.83rem;
        left:50%;
        transform: translateX(-50%);
    }
    .main_box{
        width: 100%;
        height: 9.47rem;
        position: relative;
        overflow: hidden;
    }
    .main_kuang{
        width: 100%;
        height: 100%;
        z-index: 2;
        position: absolute;
        top:0;
        left: 0;
    }
    .avatar_view{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        // height: 100%;
        z-index: 1;
    }
    .footer_box{
        width: 100%;
        font-size: 0.2rem;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #fff;
        position: absolute;
        bottom: 0.1rem;
        left: 0;
        z-index: 3;
        .footer_info{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        img{
            width: 1.75rem;
            margin-left: 1rem;
            // height: 0.3rem;
        }
        span{
            display: inline-block;
        }
        .footer_txt{
            margin-right: 1rem;
            opacity: 0.8;
        }
        .footer_desc{
            width: 100%;
            text-align: center;
            padding-bottom: 0.43rem;
        }
    }
    .receive-coupon-mask{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 3;
        .coupon-content{
            width: 6rem;
            margin: 0 auto;
            padding-top: 2.4rem;
            .coupon-content-content{
                position: relative;
                width: 100%;
                margin-bottom: 0.5rem;
                img{
                    width: 100%;
                }
                .bottom-content{
                    position: absolute;
                    left: 50%;
                    bottom: 0.4rem;
                    width: 4rem;
                    transform: translateX(-50%);
                    .btn{
                    
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 0.8rem;
                        font-size: 0.34rem;
                        color: #ffffff;
                        background-color: #FF9FA9;
                        border-radius: 0.4rem;
                    }
                }
            }
            .close{
                text-align: center;
                img{
                    width: 0.64rem;
                }
            }
        }
    }
}
.poster_dialog{
    text-align: center;
}
.poster_img{
    width: 5rem;
    height: 8.5rem;
    margin: 0.2rem 0;
}
.poster_desc{
    font-size: 0.2rem;
    font-family: Microsoft YaHei;
    font-weight: 400;
    margin-bottom: 0.2rem;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3){
    .content_box .top_box{
        height: 2.1rem;
    }
    .content_box .top_title{
        top: 0.8rem;
    }
    .content_box .main_box{
        height: 9.4rem;
    }
}
// // iPhoneXR iPhone11
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    .content_box .top_box{
        height: 2.1rem;
    }
    .content_box .top_title{
        top: 0.8rem;
    }
    .content_box .main_box{
        height: 9.4rem;
    }
}

// iPhone11Pro
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .content_box .top_box{
        height: 2.1rem;
    }
    .content_box .top_title{
        top: 0.8rem;
    }
    .content_box .main_box{
        height: 9.4rem;
    }
}

// iPhoneXSMax
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
    .content_box .top_box{
        height: 2.1rem;
    }
    .content_box .top_title{
        top: 0.8rem;
    }
    .content_box .main_box{
        height: 9.4rem;
    }
}

// HUAWEI P40
@media only screen and (device-width: 360px) and (device-height: 780px) and (-webkit-device-pixel-ratio: 3) {
    .content_box .top_box{
        height: 2.1rem;
    }
    .content_box .top_title{
        top: 0.8rem;
    }
    .content_box .main_box{
        height: 9.4rem;
    }
}

// HUAWEI HONOR V30
@media only screen and (device-width: 360px) and (device-height: 800px) and (-webkit-device-pixel-ratio: 3) {
    .content_box .top_box{
        height: 2.1rem;
    }
    .content_box .top_title{
        top: 0.8rem;
    }
    .content_box .main_box{
        height: 9.4rem;
    }
}
@keyframes musicRotate
{
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}