@font-face{
  font-family: 'HanSansCN-Normal';
  src: url(../fonts/SourceHanSansCN-Normal.otf);
}
@font-face{
  font-family: 'HanSansCN-Bold';
  src: url(../fonts/SourceHanSansCN-Bold.otf);
}
@font-face{
  font-family: 'HanSansCN-ExtraLight';
  src: url(../fonts/SourceHanSansCN-ExtraLight.otf);
}
@font-face{
  font-family: 'HanSansCN-Heavy';
  src: url(../fonts/SourceHanSansCN-Heavy.otf);
}
@font-face{
  font-family: 'HanSansCN-Light';
  src: url(../fonts/SourceHanSansCN-Light.otf);
}
@font-face{
  font-family: 'HanSansCN-Medium';
  src: url(../fonts/SourceHanSansCN-Medium.otf);
}
@font-face{
  font-family: 'HanSansCN-Regular';
  src: url(../fonts/SourceHanSansCN-Regular.otf);
}