.bubble_box{
    position: fixed;
    bottom: 1.55rem;
    left: 0.28rem;
    max-width: 4.74rem;
    max-height: 3rem;
    .bubble_item{
        div{
            display: inline-block;
            width: auto;
            min-height: 0.4rem;
            background-color:rgba(255,255,255,0.2);
            border-radius: 0.1rem;
            font-size: 0.18rem;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: #FFFFFF;
            margin-bottom: 0.1rem;
            :first-child{
                margin:0 0.28rem;
            }
            :last-child{
                margin-right: 0.28rem;
            }
        }
    }
}